:root {
    --text-color-dark: #000;
    --text-color-light: #fff;
    --bg-light: #edf2f4;
    --bg-dark: #001219;
    --button-light: #E5E5E5;
    --button-dark: #2c3038;
    --option-button-dark: #57606f;
}

body {
    background: var(--bg-light);
    color: var(--text-color-dark);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    height: 16rem;
    margin: 0;
    padding: 0;
    width: 26rem;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}

.select-menu {
    position: relative;
    width: 100px;
}

.github-link {
    text-decoration: none;
    color: var(--text-color-dark);
}

.select-menu .select-btn {
    display: flex;
    height: 13px;
    background: var(--button-light);
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.select-menu .options {
    display: none;
    position: absolute;
    width: 100px;
    padding: 10;
    max-width: 100px;
    margin-top: 10px;
    max-height: 130px;
    border-radius: 10px;
    background: var(--button-light);
    animation-name: down;
    -webkit-animation-name: down;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    z-index: 10;
}

.select-menu .options .option {
    display: flex;
    height: 15px;
    cursor: pointer;
    padding: 7px;
    margin: 3px;
    border-radius: 10px;
    align-items: center;
}

.select-menu .options .option:hover {
    background: #cecece;
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: up;
    -webkit-animation-name: up;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

.select-menu .options .option .option-text {
    text-decoration: none;
}

.toggle-color-mode {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark-mode {
    background-color: var(--bg-dark);
    color: var(--bg-light);

    & .github-link {
        color: var(--text-color-light);
    }

    & .select-menu .select-btn {
        background: var(--button-dark);
    }

    & .select-menu .options {
        background: var(--button-dark);

        & .option:hover {
            background: #3c3d3f;
        }
    }
}

.sun-icon .moon-icon {
    transition: opacity 0.3s;
}

.moon-icon {
    display: none;
}

.dark-mode .sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: inline-block;
}

@keyframes up {
    from {
        transform: translate3d(0, 30px 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes down {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 2rem 1rem 1rem;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date-container {
    margin-top: 1.5rem;
    padding: 0.8rem;
}

input {
    text-align: center;
    background: transparent;
    width: 40%;
    border: 0;
    border-bottom: 2px solid #11998e;
    outline: 0;
    font-size: 1.2rem;
    color: var(--text-color-dark);
    padding: 0.2rem 0;
}

.cross {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    margin-inline: 0.5rem;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-dark);
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

.cross::after {
    transform: translateY(-50%) rotate(-45deg);
}

.dark-mode .container {
    & input {
        color: var(--text-color-light);
    }

    & .cross::before, .cross::after {
        background-color: var(--text-color-light);
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
